.skeleton {
  display: block;
  background-color: var(--color-neutral-200);
  background-image: linear-gradient(
    90deg,
    var(--color-neutral-200) 0%,
    var(--color-neutral-100) 20%,
    var(--color-neutral-200) 40%,
    var(--color-neutral-200) 100%
  );
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite linear;
  border-radius: var(--radius-sm);
  opacity: 0.8;
}

[data-theme='dark'] .skeleton {
  background-color: var(--color-neutral-100);
  background-image: linear-gradient(
    90deg,
    var(--color-neutral-100) 0%,
    var(--color-neutral-200) 20%,
    var(--color-neutral-100) 40%,
    var(--color-neutral-100) 100%
  );
}

.skeleton--text {
  margin-top: 0;
  margin-bottom: 0;
  height: 1.2em; /* Default text height */
}

.skeleton--circular {
  border-radius: 50%;
}

.skeleton--rectangular {
  border-radius: var(--radius-md);
}

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.skeleton-table-row td {
  padding: 16px;
  vertical-align: middle;
}
